[maxscale]
threads=4

[server1]
type=server
address=mdb
port=3306
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1
user=root
password=Password123!
monitor_interval=2000

[Read-Write-Service]
type=service
router=readwritesplit
servers=server1
user=root
password=Password123!

[Read-Write-Listener]
type=listener
service=Read-Write-Service
protocol=MariaDBClient
port=4006

[MaxAdmin Service]
type=service
router=cli
user=maxscale_admin
passwd=secretpasswd

[MaxAdmin Listener]
type=listener
service=MaxAdmin Service
protocol=HTTPD
port=8989

[admin]
type=service
router=readconnroute
users=your_user
passwd=your_password

[Your_User]
type=admin
passwd=your_password